[submodule "apps/csgo_visualizer"]
	path = apps/csgo_visualizer
	url = git@github.com:khemingkapat/csgo_visualizer.git
[submodule "src/esta"]
	path = src/esta
	url = https://github.com/khemingkapat/esta.git
